<div>
  <%= flash[:notice] %>
</div>
<%= render 'books/list', book: @books, user: @users %>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_profile_image %>
  <% end %>
  <p>Title: <%= book.title %></p>
  <p>Opinion: <%= book.body %></p>
</div>
<% end %>