<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag user.get_image %>
  <%= image_tag 'sample-author1.jpg' %>
  <%= link_to book_path(book.id) do %>
    Title: <%= book.book_name %>
  <% end %>
  <p>Opinion: <%= book.caption %></p>
</div>
<% end %>
