<div>
  <%= image_tag @user.get_profile_image %>
  <p>ユーザーネーム: <%= @user.name %></p>
  <p>Title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>